body {
	background-color: #F5F5F5;
}

header {
	padding: 21px 0;
	background-color: #F5F5F5;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}

.headerss {
	width: 1170px;
	margin-left: 138px;
}


nav {
	display: inline-block;
	
}

li {
	display: inline-block;
	margin-right: 50px;
	
}

nav, li {
	vertical-align: middle;
}

li a {
	color: black;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
}



/*PIRVELI SEQCIAAAAA*/
section {
	width: 1320px;
}


h1 {
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	margin-top: 85px;
	margin-left: 137px;
}

.pirveli {
	border: black dotted;
	margin-top: 27px;
	margin-left: 137px;
	margin-left: 136px;
}

.foto1 {
	display: inline-block;
	position: relative;
	width: 362px;
	margin-right: 40px;
}
.foto2 {
	display: inline-block;
	position: relative;
	width: 362px;
	margin-right: 40px;
}
.foto3 {
	display: inline-block;
	position: relative;
	width: 362px;
}


h2 {
	position: absolute;
	top: 32px;
	left: 41px;
	color: white;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
}

.text1 {
	padding-top: 68px;
	padding-bottom: 41px;
	padding-left: 37px;
	padding-right: 87px;
	width: 362px;
	background-color: #FFFFFF;
}

.ptext {
	width: 238px;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	line-height: 2.2;
	color: #8A8787;
}

.clock {
	display: inline-block;
	padding-top: 11px;
}

.nexttoclock {
	display: inline-block;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	padding-top: 14px;
	vertical-align: top;
	color: #8A8787;
}



