body {
	background-color: #F5F5F5;
}

header {
	padding: 21px 0;
	background-color: #F5F5F5;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}

.container {
	width: 1170px;
	margin-left: 138px;
}


nav {
	display: inline-block;
	
}

li {
	display: inline-block;
	margin-right: 50px;
	
}

nav, li {
	vertical-align: middle;
}

li a {
	color: black;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
}




h1 {
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	margin-top: 85px;
	margin-left: 137px;
}


.s-2 {
	margin-bottom: 200px;
}


.wrapper {
	border: 2px dotted red;
	display: inline-block;
	position: relative;
}
h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: yellow;
	font-size: 24px;
}

